@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

/* Custom variants Theme */
@custom-variant custom (&:is(.custom *));

@theme {
  --color-button: oklch(var(--button));
  --color-button-foreground: oklch(var(--button-foreground));

  --color-background: oklch(var(--background));
  --color-foreground: oklch(var(--foreground));

  --color-card: oklch(var(--card));
  --color-card-foreground: oklch(var(--card-foreground));

  --color-popover: oklch(var(--popover));
  --color-popover-foreground: oklch(var(--popover-foreground));

  --color-primary: oklch(var(--primary));
  --color-primary-foreground: oklch(var(--primary-foreground));

  --color-secondary: oklch(var(--secondary));
  --color-secondary-foreground: oklch(var(--secondary-foreground));

  --color-muted: oklch(var(--muted));
  --color-muted-foreground: oklch(var(--muted-foreground));

  --color-accent: oklch(var(--accent));
  --color-accent-foreground: oklch(var(--accent-foreground));

  --color-destructive: oklch(var(--destructive));
  --color-destructive-foreground: oklch(var(--destructive-foreground));

  --color-border: oklch(var(--border));
  --color-input: oklch(var(--input));
  --color-ring: oklch(var(--ring));

  --color-chart-1: oklch(var(--chart-1));
  --color-chart-2: oklch(var(--chart-2));
  --color-chart-3: oklch(var(--chart-3));
  --color-chart-4: oklch(var(--chart-4));
  --color-chart-5: oklch(var(--chart-5));

  --color-sidebar: oklch(var(--sidebar-background));
  --color-sidebar-foreground: oklch(var(--sidebar-foreground));
  --color-sidebar-primary: oklch(var(--sidebar-primary));
  --color-sidebar-primary-foreground: oklch(var(--sidebar-primary-foreground));
  --color-sidebar-accent: oklch(var(--sidebar-accent));
  --color-sidebar-accent-foreground: oklch(var(--sidebar-accent-foreground));
  --color-sidebar-border: oklch(var(--sidebar-border));
  --color-sidebar-ring: oklch(var(--sidebar-ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body {
    font-family: var(--font-geist-sans);
  }
}

@layer base {
  :root {
    --background: 100% 0 0;
    --foreground: 3.9% 0 0;
    --card: 100% 0 0;
    --card-foreground: 3.9% 0 0;
    --popover: 100% 0 0;
    --popover-foreground: 3.9% 0 0;
    --primary: 9% 0 0;
    --primary-foreground: 98% 0 0;
    --secondary: 96.1% 0 0;
    --secondary-foreground: 9% 0 0;
    --muted: 96.1% 0 0;
    --muted-foreground: 45.1% 0 0;
    --accent: 96.1% 0 0;
    --accent-foreground: 9% 0 0;
    --destructive: 60.2% 0.12 0;
    --destructive-foreground: 98% 0 0;
    --border: 89.8% 0 0;
    --input: 89.8% 0 0;
    --ring: 3.9% 0 0;
    --chart-1: 61% 0.1 20;
    --chart-2: 39% 0.08 180;
    --chart-3: 24% 0.05 200;
    --chart-4: 66% 0.11 45;
    --chart-5: 67% 0.13 30;
    --radius: 0.5rem;
    --sidebar-background: 98% 0 0;
    --sidebar-foreground: 26.1% 0.01 240;
    --sidebar-primary: 10% 0.01 240;
    --sidebar-primary-foreground: 98% 0 0;
    --sidebar-accent: 95.9% 0.01 240;
    --sidebar-accent-foreground: 10% 0.01 240;
    --sidebar-border: 91% 0.02 220;
    --sidebar-ring: 59.8% 0.15 217.2;
  }

  .dark {
    --background: 3.9% 0 0;
    --foreground: 98% 0 0;
    --card: 3.9% 0 0;
    --card-foreground: 98% 0 0;
    --popover: 3.9% 0 0;
    --popover-foreground: 98% 0 0;
    --primary: 98% 0 0;
    --primary-foreground: 9% 0 0;
    --secondary: 14.9% 0 0;
    --secondary-foreground: 98% 0 0;
    --muted: 14.9% 0 0;
    --muted-foreground: 63.9% 0 0;
    --accent: 14.9% 0 0;
    --accent-foreground: 98% 0 0;
    --destructive: 30.6% 0.1 0;
    --destructive-foreground: 98% 0 0;
    --border: 14.9% 0 0;
    --input: 14.9% 0 0;
    --ring: 83.1% 0 0;
    --chart-1: 50% 0.1 220;
    --chart-2: 45% 0.09 160;
    --chart-3: 55% 0.12 30;
    --chart-4: 60% 0.1 280;
    --chart-5: 55% 0.11 340;
    --sidebar-background: 10% 0.01 240;
    --sidebar-foreground: 95.9% 0.01 240;
    --sidebar-primary: 48% 0.12 224.3;
    --sidebar-primary-foreground: 100% 0 0;
    --sidebar-accent: 15.9% 0.01 240;
    --sidebar-accent-foreground: 95.9% 0.01 240;
    --sidebar-border: 15.9% 0.01 240;
    --sidebar-ring: 59.8% 0.15 217.2;
  }

  .custom {
    --button: 67.06% 0.2343 0;
    --button-foreground: 100% 0 0;

    --background: 20% 0 0;
    --foreground: 94.51% 0 0;
    --primary: 84.31% 0 0;
    --primary-foreground: 6.27% 0 0;
    --card: 22.86% 0 0;
    --card-foreground: 94.51% 0 0;
    --popover: 0% 0 0;
    --popover-foreground: 94.51% 0 0;
    --secondary: 22.35% 0 0;
    --secondary-foreground: 100% 0 0;
    --muted: 9.8% 0 0;
    --muted-foreground: 70.2% 0 0;
    --accent: 22.35% 0 0;
    --accent-foreground: 94.51% 0 0;
    --destructive: 60.2% 0.12 0;
    --destructive-foreground: 98% 0.05 210;
    --border: 30.94% 0 0;
    --input: 38.94% 0 0;
    --ring: 64.31% 0 0;
    --chart-1: 64.31% 0 0;
    --chart-2: 54.51% 0 0;
    --chart-3: 41.96% 0 0;
    --chart-4: 35.29% 0 0;
    --chart-5: 29.02% 0 0;
    --radius: 0.5rem;
  }
}

@layer base {
  :root {
    --gray-800: 15% 0 0;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground h-full;
  }
}
